<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-6" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
    <a class="navbar-brand" href="#">
    <img src="https://art.pixilart.com/33a99bd2320d5ea.png" width="30" height="30" alt="">
  </a>
</nav>